* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.btn {
    background-color: #7C4EE4;
    color: white;
}

.hero {

    background-color: #7C4EE4 !important;
    height: auto;
    padding: 2rem 0;
    color: white;
}

.sec2 {
    height: auto;
}

.cont-img {
    background-image: url(./images/Container\ -main.png);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

h1 {
    font-size: 60px !important;
}

.btnmain {
    background-color: white !important;
    color: black !important;
}

.btnmain :hover {
    background-color: #7C4EE4 !important;
}

.nav-item a {
    color: black;
}

.nav-item a :hover {
    background-color: #7C4EE4 !important;
}

.sec {
    background-color: #7C4EE4 !important;
    height: auto;
    color: white;

}

.butt {
    border: 5pc solid white !important;
}

.seccard {
    height: auto;
}

.sec3 {
    height: auto;
}

.box-1 {
    margin-top: 20px;
    height: auto;
    padding: 0;
    padding-left: 20px;
    /* background-color: #7C4EE4; */


}

.img-sec {
    display: flex !important;
    justify-content: center;
}

.blog-text {
    /* background-color: white; */
}

.trans {
    background-color: transparent;
    border-color: #7C4EE4;
    color: #7C4EE4;
}


/* footer */
.footer {
    background-color: white !important;
    color: black;

}

.footlink {
    color: white !important;
}

/* media */
@media (min-width: 300px) and (max-width: 800px) {
    h1 {
        font-size: 40px !important;
    }
}

/* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */